<nav class="menu">
  <input type="checkbox" href="#" class="menu__open" name="menu__open" id="menu__open"/>
  <label class="menu__open-btn" for="menu__open">
    <span class="menu__title">Menu</span>
    <span class="menu__lines menu__line-1"></span>
    <span class="menu__lines menu__line-2"></span>
    <span class="menu__lines menu__line-3"></span>
  </label>

  <a routerLink="/about-me" class="menu__btn-item menu__open-btn--orange">
    About me
  </a>
  <a routerLink="/project" class="menu__btn-item menu__open-btn--green">
    Projects
  </a>
  <a routerLink="/blogs" class="menu__btn-item menu__open-btn--purple">
    Blogs
  </a>
</nav>
