<div class="about">
    <div class="about-me">
        <h1 class="about-me__title">
        About me.
        </h1>
        <p class="about-me__paragraph">
          I am employed at Competa IT as a full-stack developer.
          I am working on  multiple projects at the Competa office in an Agile (Scrum) environment.
          As an employee I got the role of Scrum Master. It is my task to support my team and guide them through the projects smoothly.
          Every sprint ends with a demo in front of a large audience.
          Besides accelerating my tech skills (JavaScript, Sass, Angular 2/4/5, task runners, PHP etc.) to a higher level,
          I also get the chance to develop my soft skills.
        </p>
        <div class="about-me__languages">
            <div class="about-me__languages-item"><img [src]="htmlImagePath"></div>
            <div class="about-me__languages-item"><img [src]="cssImagePath"></div>
            <div class="about-me__languages-item"><img [src]="ngImagePath"></div>
            <div class="about-me__languages-item"><img [src]="ionImagePath"></div>
            <div class="about-me__languages-item"><img [src]="jsImagePath"></div>
            <div class="about-me__languages-item"><img [src]="typImagePath"></div>
            <div class="about-me__languages-item"><img [src]="fbImagePath"></div>
            <div class="about-me__languages-item"><img [src]="gitImagePath"></div>
            <div class="about-me__languages-item"><img [src]="nodeImagePath"></div>
            <div class="about-me__languages-item"><img [src]="styImagePath"></div>
        </div>
    </div>
    <div class="image">
        <img class="image__item" [src]="fullImagePath">
    </div>
    <div class="skew">
        <!-- <div class="skew__scrolldown">
            <p class="skew__scrolldown-paragraph">
                View the projects i've worked on
            </p>
        </div> -->
    </div>
</div>
