@import "./src/assets/scss/base/variables";

.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 71px;

    &__title {
        background: $white;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 20px 0;
        color: $darkgrey;
    }
}
