@import "./src/assets/scss/base/variables";
@import "./src/assets/scss/base/mixins";

.wrapper {
  display: flex;
  flex-flow: row;
  height: 100vh;
  width: 100%;

    app-menu {
      display: flex;
      width: 75px;
      height: 100%;
      text-align: -webkit-center
    }

    app-sidebar {
      display: flex;
      width: 75px;
      height: 100%;
      text-align: -webkit-center
    }
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;
}
