.wrapper {
    display: flex;
    flex-direction: row;
    app-menu {
        position: fixed;
        display: flex;
        left: 0px;
        height: 100%;
        width: 72px;
    }

    .container {
        min-height: 100%;
        display: flex;
        flex-direction: column;

        app-header {
            display: flex;
        }

        app-footer {
            display: flex;
        }
        
    }

    app-sidebar {
        position: fixed;
        display: flex;
        right: 0px;
        height: 100%;
        width: 72px;
    }

}
