@import "./src/assets/scss/base/variables";
@import "./src/assets/scss/base/mixins";

.project {
    @include page-styling (50px 0 0 70px, $darkgrey);

    .info {
        width: 35%;
        
        &__title {
            font-size: 46px;
            font-weight: 700;
            margin: 30px 0;
        }

        &__client {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0px;

            &-name {
                font-size: 16px;
                font-style: italic;
                margin: 0px;
            }

        }

        &__date {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 10px 0 0 0;

            &-time {
                font-style: italic;
                margin: 0 0 10px 0;
            }

        }

        &__paragraph {
            font-size: 16px;
            font-weight: 400;
            width: 500px;
            margin: 10px 0;
        }

        &__link {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;

        }

        &__skill {
            background: $lightgreen;

            &-title {
                text-transform: uppercase;

            }

            &-items {
                font-style: italic;
            }
        }

    }

    .images {

        &__wide {
            height: 300px;
            width: 600px;
        }

        &__small {
            height: 300px;
            width: 300px;
        }

    }

    .sidemenu {
        background: $darkgrey;

        &__btn {

            &-number {

            }

            &-title {

            }
        }

    }
}
