@import "./src/assets/scss/base/variables";
@import "./src/assets/scss/base/mixins";

.project {
    @include page-styling (50px 0 0 70px, $darkgrey);
    flex-direction: row;

    .info {
        width: 35%;
        
        &__title {
            font-size: 46px;
            font-weight: 700;
            margin: 30px 0;
            word-wrap: break-word;
        }

        &__client {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0px;

            &-name {
                font-size: 16px;
                font-style: italic;
                margin: 0px;
            }

        }

        &__date {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 10px 0 0 0;

            &-time {
                font-style: italic;
                margin: 0 0 10px 0;
            }

        }

        &__paragraph {
            font-size: 16px;
            font-weight: 400;
            width: 90%;
            margin: 10px 0;
            word-wrap: break-word;
        }

        &__link {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;

        }

        &__skill {
            background: $lightgreen;

            &-title {
                text-transform: uppercase;

            }

            &-items {
                font-style: italic;
            }
        }

    }

    .images {
        margin: -49px 0 0 0;
        max-width: 600px;
        max-height: 600px;

        &__item {

            &-wide {
                height: 300px;
                width: 600px;
            }
    
            &-small {
                display: table-cell;
                height: 300px;
                width: 300px;
            }

        }

    }

    .sidemenu {
        background: $darkgrey;
        width: 40px;

        &__btn {

            &-number {

            }

            &-title {

            }
        }

    }
}
