@import "./src/assets/scss/base/variables";
@import "./src/assets/scss/base/mixins";

.sidebar {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background: $white;
    align-self: center;
    width: 72px;

    &__images {
        @include flex-styling;
        text-decoration: none;
        font-size: 33px;

        & a {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            align-self: center;
            background-color: $darkgrey;
            color: $white;
            margin: 5px;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                background-color: $white;
                color: $darkgrey;
            }

            &::before {
                vertical-align: sub;
            }
        }
    }
}
